<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Crear Preguntas</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding color="secondary">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item color="secondary">
                        <ion-label>Pregunta:</ion-label>
                        <ion-input type="text" name="pregunta" #texto="ngModel" maxlength="50"
                                   [(ngModel)]="pregunta.texto"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-label color="{{status}}"
                           *ngIf="mensaje !== null">{{mensaje}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-button type="submit" [disabled]="!loginForm.form.valid"
                            shape="round" fill="outline" color="success"> Crear
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </form>
</ion-content>

