page-login {

  .login-content {
    background: #56CA96;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {

      padding-left: 30px !important;
      font-size: 0.9em !important;
      margin-bottom: 10px !important;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }
  }

}
