<ion-content class="login-content" color="secondary">
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col>
            <img src="assets/images/gea_logo.png" width="100%"/>
            <img *ngIf="loading === true" src="assets/images/loading.gif"/>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box" >
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <ion-row >
                <ion-col *ngIf="!platform.is('android')"></ion-col>
                <ion-col>
                    <ion-list inset >
                        <ion-item color="secondary">
                            <ion-label>Email:</ion-label>
                            <ion-input  type="email" name="email" #email="ngModel"
                                       [(ngModel)]="user.email" required
                                       pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
                        </ion-item>
                        <ion-item color="secondary">
                            <ion-label>Password:</ion-label>
                            <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                                       required></ion-input>
                        </ion-item>


                    </ion-list>
                    <ion-label color="{{ status === 'success' ? 'success':'danger' }}"
                               *ngIf="mensaje !== null">{{mensaje}}</ion-label>
                </ion-col>
                <ion-col *ngIf="!platform.is('android')"></ion-col>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-button type="submit" [disabled]="!loginForm.form.valid"
                            shape="round" color="light" fill="outline"> Login
                </ion-button>
                <ion-col></ion-col>
            </ion-row>
        </form>
    </div>

</ion-content>
