<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Encuestas Creadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-list>

        <ion-item color="secondary" *ngFor="let p of items ">
            <ion-label>
                {{p.nombre}}
            </ion-label>
            <ion-button color="primary" [routerDirection]="'root'" [routerLink]="['/encuesta/', p.id]"
                        padding-horizontal="10px"> Responder
            </ion-button>

            <ion-button color="warning" [routerDirection]="'root'" [routerLink]="['/encuesta/edit', p.id]"
                        padding-horizontal="10px">Editar
            </ion-button>
        </ion-item>

    </ion-list>
</ion-content>