<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Encuesta {{encuesta.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="preguntas.length >= 1">
        <!--Preguntas generales de la encuesta -->
        <div *ngFor="let p of preguntas">
            <ion-card *ngIf="datos == false" class="medium">
                <ion-card-content>
                    <p>En una escala del 1 al 7 responda.</p>
                    <p>{{p.pregunta}}</p>
                    <ion-row>

                        <ion-range min="1" max="7" step="1" [(ngModel)]="p.valor" [ngModelOptions]="{standalone: true}"
                                   snaps="true" pin="true">
                            <ion-icon size="small" slot="start" name="sad"></ion-icon>
                            <ion-icon slot="end" name="happy"></ion-icon>
                        </ion-range>

                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
        <ion-button shape="round" fill="outline" (click)="askData()">
            {{boton}}
        </ion-button>
        <div *ngIf="datos == true">
            <!-- Datos de quien llena el formulario -->
            <ion-col>
                <ion-list>

                    <ion-item color="secondary">
                        <ion-label>Nombre:</ion-label>
                        <ion-input type="text" name="nombre" #name="ngModel" [(ngModel)]="encuestado.nombre"
                                   placeholder="Nombre de la persona"
                                   required></ion-input>
                    </ion-item>

                    <ion-item color="secondary">
                        <ion-label>Rut:</ion-label>
                        <ion-input type="text" name="rut" #rut="ngModel" [(ngModel)]="encuestado.rut"
                                   placeholder="rut de la persona"
                                   required></ion-input>
                    </ion-item>

                    <ion-item color="secondary">
                        <ion-label for="telefono">Telefono:</ion-label>
                        <ion-input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="encuestado.telefono"
                                   required maxlength="9" [placeholder]="912345678"></ion-input>
                    </ion-item>
                    <ion-item color="secondary">
                        <ion-label>Email:</ion-label>
                        <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="encuestado.email" required
                                   placeholder="mail@mail.com"
                                   pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
                    </ion-item>
                    <ion-item color="secondary">
                        <ion-label> Comentarios ?</ion-label>
                        <ion-textarea maxlength="500" rows="6"></ion-textarea>
                    </ion-item>

                </ion-list>
            </ion-col>

            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button type="submit" [disabled]="!loginForm.form.valid"
                                shape="round" color="success" fill="outline"> Enviar
                    </ion-button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </div>
    </form>

    <ion-row *ngIf="preguntas.length === 0">
        <ion-col *ngIf="_platform.is('core')"></ion-col>
        <ion-col><p color="danger">La encuesta requiere tener preguntas</p></ion-col>
        <ion-col *ngIf="_platform.is('core')"></ion-col>
    </ion-row>
    <!-- <ion-item *ngFor="let p of preguntas">
         <ion-label>
             {{p.pregunta}}
         </ion-label>
         <div class="item-note" slot="end">

             &lt;!&ndash; todo: Poner link a editar pregunta&ndash;&gt;

         </div>
     </ion-item>-->


</ion-content>
