// configuracion general del range para que los iconos del slot se separen del range

ion-range {
  [slot="start"], div[slot="end"] {
    font-size: 2.0rem;
    font-weight: 300;
  }

  [slot="start"] {
    margin-right: 24px;
  }

  [slot="end"] {
    margin-left: 24px;
  }

  p {
    width: 100%;
  }

  padding-top: 24px;

}

ion-card {

  p {
    color: #ffffff;
  }

  ion-card-content {
    background-color: #383a3e;
  }
}
