<ion-app>
    <ion-split-pane color="secondary">
        <ion-menu *ngIf="identity">
            <ion-header>
                <ion-toolbar color="dark">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="secondary">
                <ion-list>

                    <ion-menu-toggle  auto-hide="false">

                        <ion-item color="secondary" *ngFor="let p of appPages" [routerDirection]="'root'"
                                  [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>

                    </ion-menu-toggle>

                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main color="secondary"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
