<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Crear Encuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-row>
            <ion-col>
                <ion-list >
                    <ion-item color="secondary">
                        <ion-label>Nombre de la Encuesta:</ion-label>
                        <ion-input type="text" name="nombre" #nombre="ngModel"
                                   [(ngModel)]="encuesta.nombre"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-label color="{{ status === 'success' ? 'success':'danger' }}"
                           *ngIf="mensaje !== null">{{mensaje}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-button type="submit" [disabled]="!loginForm.form.valid"
                            shape="round" color="success" fill="outline"> Crear
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </form>
</ion-content>

