<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Preguntas Creadas</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="secondary">
    <ion-list >

        <ion-item color="secondary" *ngFor="let p of preguntas">
            <ion-label>{{p.texto}}</ion-label>
        </ion-item>

    </ion-list>
</ion-content>

