<ion-header >
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
    <p *ngIf="identity !== null && identity.sub">
        Seleciona en el menu de encuestas! {{identity.name}}
    </p>
</ion-content>
