<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Editar Encuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <form #EditEncuestForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item *ngFor="let p of preguntas" color="secondary">
                <ion-label>{{p.texto}}</ion-label>
                <ion-checkbox name="preguntas[]" checked="{{p.selected}}" slot="end"></ion-checkbox>
            </ion-item>
        </ion-list>

        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-button type="submit" shape="round" color="success" fill="outline">
                    Guardar
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>

    </form>
</ion-content>
