<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isadmin">Nuevo Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="isadmin">
    <form #RegisterForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-item>
                        <ion-label>Email:</ion-label>
                        <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="_user.email" required
                                   placeholder="mymail@gmail.com"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Nombre:</ion-label>
                        <ion-input type="text" name="name" #name="ngModel" [(ngModel)]="_user.name"
                                   required placeholder="Ej Jaime Mazo"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Password:</ion-label>
                        <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="_user.password"
                                   required placeholder="No123456"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Rol</ion-label>
                        <ion-select [(ngModel)]="_user.role" required #role="ngModel" name="role">
                            <ion-select-option *ngFor="let role of roles" [value]="role.id">{{role.nombre}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>


                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-button type="submit" [disabled]="!RegisterForm.form.valid"
                        shape="round" color="primary" fill="outline"> Crear
            </ion-button>
        </ion-row>
    </form>
</ion-content>
